.carousel-inner .carousel-item img {
  
}
.container {
    text-align: center;
    background-attachment: fixed;
    max-height: 50px;
    overflow: auto;
    margin: 0;
    padding: 0;
    max-width: none;
     
}
.heroVideo {
    position: fixed;
    right: 0;
    bottom: 0;
    min-width: 100%; 
    min-height: 100%;
}

.title {
    background: rgba(130, 179, 57, 0.6);
    text-align: center;
    padding: 50px;
    margin-bottom: 50px;
}

.container {
    text-align: center;
}

.accordion {
    float: center;
    margin: auto;
}

.innercard {
    width: 300px;
    height: 100px;
    margin: auto;
}



.card-header {
    background: rgb(130, 179, 57);
    color: white;
}

.no-margin-lr { 
    margin-left: 0;
    margin-right: 0;
}
