.carousel-inner .carousel-item img {
  
}
.container {
    text-align: center;
     background-attachment: fixed;
     max-height: 50px;
     overflow: auto;
     
}

.container {
    text-align: center;
}



.accordion {
    float: center;
    margin: auto;
}

.innercard {
    width: 300px;
    height: 100px;
    margin: auto;
}



.card-header {
    background: darkolivegreen;
    color: white;
}
